<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <title>Quoter</title>
</head>
<nav>
    <%- include('../partials/nav.ejs') %>
</nav>
<h1>Quoter</h1>
<p>Quote for:
    <input type="box" placeholder="name of the requester"></p>
  
    
    
<div class="box">
<body>
    
    <div class="containerOne" id="pdf-area">
        <img src="https://i.imgur.com/QuS0A2q.jpg" alt=""  width="50" height="50">
        <p>Date:<%= new Date().getDate()  %>/<%= new Date().getMonth() %>/<%= new Date().getFullYear() %> </p>
        <p>Quote for: </p>
        <p>Quote from: Química Durango</p>
        <table>
            <th># of Product</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            
            <% products.forEach((product, i) => { %>
                <tr>
                    <td> <%= i + 1 %> </td>
                    <td><a href="/quoter/<%= product._id %>">
                        <%= product.product %>
                    <td><%= product.qty %></td>
                    <td>$ <%= product.price %></td>
                    <td>$ <%= product.price * product.qty %></td>
                    <% }); %>  
                    </tr>
                    <tr>
                        <td><strong>Subotal: </strong></td><br>
                        <td> <%= total %> </td>
                    </tr>
                    <tr>
                        <td><strong> Taxes: </strong></td><br>
                        <td> <%= taxes %></td>
                    </tr>
                    <tr>
                        <td><strong> Total: </strong> </td><br>
                    <td> <%= total + taxes %> </td>
                    </tr>    
                </div>             
                </table>
          
            <a href="/quoter/new" class="btn btn-primary">
                Add a product
            </a>
            <div class="print">
            <button onclick="downloadPDF()">
                PRINT
            </button>
        </div>
    </div>           
    <%- include('../partials/footer.ejs') %> 
    <script>
        const element = document.getElementById("pdf-area");
        function downloadPDF() {
            window.html2pdf().from(element).toPdf().get('pdf').then(function (pdf) {
              window.open(pdf.output('bloburl'), '_blank');
            });
        }
    </script>
</body>
</html>