<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Quoter</title>
</head>
<nav>
    <p> <%= new Date().getFullYear() %></p>
    <label><strong>To-Do App</strong></label><br>
    <a href="/">Back to Main Page</a>
</nav>
<h1>Quoter</h1><hr>
<div class="box">
<body>
    <main>
    <p>Date: <%= new Date().getDate()  %>/<%= new Date().getMonth() %>/<%= new Date().getFullYear() %></p>
    <p>Quote for:
         <input type="box" placeholder="name of the requester">
        <input type="submit"></p>
   
    
        <div class="containerOne">
            <table>
            <tr>
                <th>Date</th>
                <th>Number of Product</th>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
              <tr>
                <% products.forEach((product, i) => { %>
                    
                    <td> <%= product.date %> </td>
                    <td> <%= i + 1 %> </td>
                    <td><a href="/quoters/<%= product._id %>">
                            <%= product.product %>
                        </a></td>
                <td><%= product.qty %></td>
                <td>$ <%= product.price %></td>
                <td>$ <%= product.price * product.qty %></td>
                <% }); %>  
            </div>
        </div>
              </tr>
              <a href="/quoter/new">Add product</a>
              <br />
              <!-- <a href="#">Reset</a>
              <br />
              <br />
              <form>
                <select id="addFormProduct">
                    <option>Product 1</option>
                </select>
                <input id="addFormInput" type="number" value="Quantity"/>
              </form>
              <button onclick="save();">Add new product</button> -->
              
</div>    
</form>
<div class="print">
    <button>
        print
    </button>
</div>
    <footer>
        <hr><p>Copyright &copy; All Rights Reserved Booklist <%= new Date().getFullYear() %></p>
    </footer>
    
    </div>

    <!-- <script>
        const existing = window.localStorage.getItem("products")

        const newProduct = [{ product: 'product 1', qty: 200 }]

        const allProducts = [...JSON.parse(existing), newProduct]
        
        window.localStorage.setItem("products", JSON.stringify(allProducts))

    </script> -->
</body>

</html>