<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <title>Quoter</title>
</head>
<nav>
    <%- include('../partials/nav.ejs') %>
</nav>
<h1>Quoter</h1><hr>
<p>Quote for:
    <form action="/quoter" method="POST">
    <input type="box" placeholder="name of the requester">
    <input type="submit"></p>
    </form>
    
<div class="box">
<body>
    
    <div class="containerOne" id="pdf-area">
        <%- include('../partials/nav.ejs') %>
        <p>Quote for:</p>
        <table>
            
            <th>Number of Product</th>
            <th>Date</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            
            <% products.forEach((product, i) => { %>
                <tr>
                    
                    <td> <%= i + 1 %> </td>
                    <td> <%= product.date %> </td>
                    <td><a href="/quoters/<%= product._id %>">
                        <%= product.product %>
                    </a></td>
                    <td><%= product.qty %></td>
                    <td>$ <%= product.price %></td>
                    <td>$ <%= product.price * product.qty %></td>
                    <% }); %>  
                </table>
                <div class="totals">
                    <label>Subotal: </label><br>
                    <label>Taxes: </label><br>
                    <label>Total: <%= total %> </label><br>
                </div>
            </div>
            <a href="/quoter/new">
                <input type="submit" value="Add a product">
            </a>
            <div class="print">
            <button onclick="downloadPDF()">
                print
            </button>
        </div>
    </div>
    <!-- <a href="#">Reset</a>
              <br />
              <br />
              <form>
                <select id="addFormProduct">
                    <option>Product 1</option>
                </select>
                <input id="addFormInput" type="number" value="Quantity"/>
              </form>
              <button onclick="save();">Add new product</button> -->
              
</div>    
</form>

 
    
    </div>
    <%- include('../partials/footer.ejs') %> 
    <script>
        const element = document.getElementById("pdf-area");
        function downloadPDF() {
            window.html2pdf().from(element).toPdf().get('pdf').then(function (pdf) {
              window.open(pdf.output('bloburl'), '_blank');
            });
        }
    </script>
</body>
</html>