<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <nav>
        <%- include('../partials/nav.ejs') %>
    </nav>
    <a href="/">Back to Main Page</a>
    <H1>Product</H1>
    <p>Product:<%= product.product %></p>
    <p>Price:<%= product.price %></p>
    <p>Qty:<%= product.qty %></p>
    <p>Date: <strong><%= product.date %></strong></p>
  
<form action="/quoter/<%= product._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete this product">
</form>

<a href="/quoter">Back to quoter</a>
</body>
</html>