<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/balancesindex.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Stock</title>
    <%- include('../partials/nav.ejs') %> 
    <title>Balance</title>
</head>
<body>
    <h1>Balance</h1>
    <div class="box">
        <div class="boxOne">
    <table>
        <th>#</th>
        <th>Sales</th>
        <th>Cost</th>
        <th>Taxes</th>
        <th>Total</th>
        <th>Revenue</th>

        <tr>
            <td>Product 1</td>
            <td> <%= total  %> </td>
            <td><%= total-(total*.30)  %> </td>
            <td><%= total *.16 %></td>
            <td><%= total * 1.16  %> </td>
            <td><%= total * .30  %> </td>
        </tr>
    </div>
    <div class="boxTwo">
    </table>
    <table>
        <th>#</th>
        <th>Expenses</th>
        <th>Total</th>
        <tr>
            <td>Expense</td>
            <td> <%= expenseTotal  %> </td>
            <td><%= expenseTotal  %> </td>
        </tr>
    </table>
</div>
</div>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>