<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit the product</title>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <a href="/">Back to Main Page</a>
    <h1>Edit the product</h1>
    <form action="/sales/<%= sale._id %>?_method=PUT" method="POST">
        <label>Product:
            <input type="text" name="product" value=" <%= sale.product %>">
        </label>
        <label>Price:
            <input type="text" name="price" value="<%= sale.price %>">
        </label>
        <label>Qty:
            <input type="text" name="qty" value="<%= sale.qty %>">
        </label>
        <input type="submit" value="Edit">
    </form>
</body>
</html>