<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/salesindex.css">
    <title>Sales</title>
</head>
<nav>
    <%- include('../partials/nav.ejs') %>
</nav>
<h1>Sales</h1>
<div class="box">
<body>
 
    <table>
        <th>Date</th>
        <th>Number of Sale</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
        
        
            <% sales.forEach((s, i) => { %>
                <tr>
           <td>Date:<%= new Date().getDate()  %>/<%= new Date().getMonth() %>/<%= new Date().getFullYear() %> </td>
           <td><%= i + 1  %></td>
                <td><a href="/sales/<%=s._id%>">
                    <%= s.product %>
                </a></td>
                    <td><%=s.qty%></td>
                    <td>$<%=s.price%></td>
                    <td>$<%=s.qty * s.price%></td>   
                    <td>
                        <a href="/sales/<%= s._id %>/edit">Edit</a>
                    </td> 
                    <td>
                        <form action="/sales/<%=s._id%>?_method=DELETE " method="POST">
                        <input type="submit" value="Delete this product">
                    </form>
                </td>
                </tr>
                    <% }); %>
    </table>

    <form action="/sales/new">
        <button>Create a Sale</button>
    </form>
</div>
<%- include('../partials/footer.ejs') %> 
</body>
</html>